package auth

import "main/views/layouts"

templ Login() {
	@layouts.LoginBase() {
		<div class="flex items-center justify-center"></div>
	}
}

templ Signup() {
	@layouts.SignupBase() {
		<div class="flex items-center justify-center"></div>
	}
}
